<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	        <key>CFBundleDisplayName</key>
    <string>Pedagogia Drive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	        <key>CFBundleName</key>
    <string>Pedagogia Drive</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	        <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
        <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
        <key>UIRequiresFullScreen</key>
    <false/>
        <key>NSCameraUsageDescription</key>
    <string>Pedagogia Drive utilise l’appareil photo pour joindre des documents et pièces aux dossiers élèves.</string>
        <key>NSPhotoLibraryUsageDescription</key>
    <string>Pedagogia Drive accède à vos photos pour importer des documents (pièces d’identité, justificatifs, autorisations).</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Pedagogia Drive peut enregistrer des documents exportés dans votre photothèque si vous le demandez.</string>
        <key>NSMicrophoneUsageDescription</key>
    <string>Pedagogia Drive n’utilise pas le micro. Cette autorisation n’est requise que si vous enregistrez une note vocale depuis l’appareil.</string>
        <key>NSLocationWhenInUseUsageDescription</key>
    <string>Pedagogia Drive utilise votre position pendant vos trajets de conduite accompagnée (AAC) pour calculer automatiquement les kilomètres parcourus.</string>
</dict>
</plist>
